.containerProduit {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.produit {
  width: 300px;
  height: 500px;
  box-shadow: 0 0 15px #ddd;
  padding: 15px;
  margin-bottom: 20px;
}
.imgProduit {
  width: 300px;
  height: 300px;
}

.buttonAchat {
  background-color: #555;
  border: 1px solid #555;
  color: white;
  width: 45%;
  padding: 6px;
  margin-right: 5px;
  border-radius: 5px;
}

.buttonDetail {
  background-color: teal;
  border: 1px solid teal;
  color: white;
  width: 45%;
  padding: 6px;
  margin-left: 5px;
  border-radius: 5px;
}
